:root {
    --blanco:#ffffff;
    --negro:#212121;
    --amarillo:#ffC107;
    --celeste:#0097A7;
    --gris:#757575;
    --fuente-principal: 3.8rem;


}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    
}
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;

}
.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;

}
.boton {
    background-color: var(--celeste);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media(min-width:768px){
    .boton{
        width: auto;
    }

}
.boton:hover{
    cursor: pointer;
}
h1 {
    font-size: 4rem;
}
.main-header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--gris);
    font-weight: 400;
    
    
    
}
.contenido {
    display: flex;
    margin-right: 1rem;
    font-size: 10px;
    color: var(--blanco);

    
}
.correo{
   margin-right: 2rem;
   display: flex;
   margin-left: 1rem;

}
.telefono {
    margin-right: 1rem;
    display: flex;
}
.nav-bg {
    background-color: var(--celeste);
}
.navegacion-principal {
    display: flex;
    justify-content: space-between;
  

}

@media(min-width:768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    /*display: block;*/
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--amarillo);
    color: var(--negro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position:absolute;
    background-color: rgb(0, 0,0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;


}

.contenido-hero h1,
 .contenido-hero p{
    color: var(--blanco);
    
}

.footer{
    text-align: center;
    font-size: 10px;
}